<template>
    <el-container>
        <canvas id="main"></canvas>
    </el-container>
</template>

<script>
    import * as echarts from 'echarts';
    import * as util from "../lib/util";

    export default {
        created() {
            this.chart = null;
            this.option = null;
            this.data = null;
            this.id = -1;
            
            this.symbolSize = 10;
            this.posRocket = [0, 0];
        },
        data() {
            return {
                
            }
        },
        props: {
            axis: Number
        },
        async mounted() {
            this.$nextTick(() => {
                this.initTrajectory();
            })
        },
        methods: {
            initTrajectory() {
                this.initMessageHandling();
                this.initChart();
                this.initOption();
                
                this.setSettings();

                this.option && this.chart.setOption(this.option);
            },
            initMessageHandling() {
                // listen for messages containing the current rocket position
                var vm = this;
                window.addEventListener('message', function(event) {
                    console.log("Message received in trajectory", event.data);
                    if (event.data.type === "rocketState") {
                        if (event.data.content.position.ecef != null) {
                            let rocket = event.data.content.position.ecef;
                            let angles = event.data.content.angles;
                            let height = event.data.content.delta;

                            let rocket_rel = util.applyReverseRotation(rocket, angles);

                            rocket_rel[1] -= height;
                            
                            console.log("Relative position: ", rocket_rel, rocket);
                            vm.posRocket[0] = rocket_rel[vm.axis];
                            vm.posRocket[1] = rocket_rel[1];
                            vm.chart.setOption({
                                series: [
                                    {
                                        id: 'b',
                                        type: 'line',
                                        data: [vm.posRocket]
                                    }
                                ]
                            })
                        }
                    }
                    if (event.data.type === "trajectory") {
                        let trajectory = event.data.content.traj;
                        if (vm.id !== trajectory.id) {
                            let initial = trajectory.initial;
                            let data = [];
                            let xMin = 0;
                            let xMax = 0;
                            let xBuffer = 0;
                            let yMin = 0;
                            let yMax = 0;
                            let yBuffer = 0;
                            for (let i = 0; i < initial.length; i++) {
                                let x = initial[i][vm.axis];
                                let y = initial[i][1];
                                if (x < xMin) xMin = x;
                                if (x > xMax) xMax = x;
                                if (y < yMin) yMin = y;
                                if (y > yMax) yMax = y;
                                let list = [x, y];
                                data.push(list);
                            }

                            xBuffer = (xMax - xMin) * 0.1;
                            yBuffer = (yMax - yMin) * 0.1;

                            vm.chart.setOption({
                                xAxis: {
                                    min: xMin - xBuffer,
                                    max: xMax + xBuffer,
                                    type: 'value',
                                    axisLine: { onZero: false }
                                },
                                yAxis: {
                                    min: yMin - yBuffer,
                                    max: yMax + yBuffer,
                                    type: 'value',
                                    axisLine: { onZero: false }
                                },
                                series: [
                                    {
                                        id: 'a',
                                        type: 'line',
                                        smooth: true,
                                        symbolSize: vm.symbolSize,
                                        data: data
                                    },
                                ]
                            })

                            vm.data = data;
                            vm.id = trajectory.id;
                        }
                    }
                })
            },
            initChart() {
                var chartDom = document.getElementById('main');
                this.chart = echarts.init(chartDom, null, {
                    devicePixelRatio: 4
                });
            },
            initOption() {
                

                
                this.option = {
                    title: {
                        text: 'Rocket trajectory'
                    },
                    tooltip: {
                        formatter: function (params) {
                            var data = params.data || [0, 0];
                            return data[0].toFixed(2) + ', ' + data[1].toFixed(2);
                        }
                    },
                    xAxis: {
                        min: 0,
                        max: 1
                    },
                    yAxis: {
                        minx: 0,
                        max: 1
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    
                }
            },
            setSettings() {
                var myChart = this.chart;
                var zr = myChart.getZr();
                zr.on('mousemove', function (params) {
                    var pointInPixel = [params.offsetX, params.offsetY];
                    zr.setCursorStyle(
                        myChart.containPixel('grid', pointInPixel) ? 'copy' : 'default'
                    );
                });
            }
        }
    }
    // var zr = myChart.getZr();
    // zr.on('click', function (params) {
    // var pointInPixel = [params.offsetX, params.offsetY];
    // var pointInGrid = myChart.convertFromPixel('grid', pointInPixel);
    // if (myChart.containPixel('grid', pointInPixel)) {
    //     data.push(pointInGrid);
    //     myChart.setOption({
    //     series: [
    //         {
    //         id: 'a',
    //         data: data
    //         }
    //     ]
    //     });
    // }
    // });
</script>