<template>
    <el-container style="width: 100%; height: 100%;">
        <div ref="lineChart" style="width: 100%;height: 100%;"></div>
    </el-container>
  </template>
  
  <script>
  import * as echarts from 'echarts';
  
  export default {
    name: 'RealTimeLineChart',
    data() {
      return {
        chart: null,
        timer: null,
      };
    },
    mounted() {
      this.initChart();
      this.startUpdating();
    },
    beforeDestroy() {
      if (this.chart) {
        this.chart.dispose();
      }
      if (this.timer) {
        clearInterval(this.timer);
      }
    },
    methods: {
      initChart() {
        this.chart = echarts.init(this.$refs.lineChart);
        const option = {
          xAxis: {
            type: 'time',
            splitLine: {
              show: false,
            },
          },
          yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
              show: false,
            },
          },
          series: [
            {
              name: 'Data',
              type: 'line',
              showSymbol: false,
              hoverAnimation: false,
              data: [],
            },
          ],
        };
        this.chart.setOption(option);
      },
      addDataPoint() {
        const now = new Date();
        const value = Math.random() * 1000;
        // Add new data point to the series
        const option = this.chart.getOption();
        option.series[0].data.push({
          name: now.toString(),
          value: [now, value],
        });
        // If the series has more data than we want to display, shift the first one out
        if (option.series[0].data.length > 100) {
          option.series[0].data.shift();
        }
        this.chart.setOption(option);
      },
      startUpdating() {
        // Updates the chart every second with a new data point
        this.timer = setInterval(this.addDataPoint, 1000);
      },
    },
  };
  </script>
  