<template>
    <el-container>
        <div ref="googleMap" class="google-map"></div>
    </el-container>
  </template>
  
  <script>
  export default {
    name: 'GoogleMapsMarker',
    props: {
      latitude: {
        type: Number,
        required: true,
      },
      longitude: {
        type: Number,
        required: true,
      },
    },
    data() {
      return {
        map: null,
        marker: null,
      };
    },
    watch: {
      latitude(val) {
        if (this.marker) {
          const position = new google.maps.LatLng(val, this.longitude);
          this.marker.setPosition(position);
          this.map.panTo(position);
        }
      },
      longitude(val) {
        if (this.marker) {
          const position = new google.maps.LatLng(this.latitude, val);
          this.marker.setPosition(position);
          this.map.panTo(position);
        }
      },
    },
    mounted() {
      if (!window.google) {
        const script = document.createElement('script');
        script.onload = this.initializeMap;
        script.async = true;
        script.defer = true;
        script.src = `https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap`;
        document.head.appendChild(script);
      } else {
        this.initializeMap();
      }
    },
    methods: {
      initializeMap() {
        const position = new google.maps.LatLng(this.latitude, this.longitude);
        this.map = new google.maps.Map(this.$refs.googleMap, {
          center: position,
          zoom: 8,
        });
        this.marker = new google.maps.Marker({
          position: position,
          map: this.map,
        });
      },
    },
  };
  </script>
  
  <style>
  .google-map {
    width: 100%;
    height: 400px;
  }
  </style>
  