<template>
    <el-container>
        <canvas ref="renderer" id="planet"></canvas>
    </el-container>
</template>

<script>
import { Cosm, Entity } from '../lib/cosm';
import * as THREE from 'three';
import * as CANNON from 'cannon-es';

export default {
    created() {
        this.cosm = null;
        this.planetEntity = null;
    },
    data() {
        return {

        }
    },
    async mounted() {
        this.$nextTick(() => {
            this.initSim();
        })
    },
    methods: {
        initSim() {
            this.initPlanet();
            this.intiCosm();
            this.createPlanetEntity();
        },
        initPlanet() {

        },
        intiCosm() {
            const cosmOptions = {
                canvasElement: document.getElementById('planet'),
            };
            this.cosm = new Cosm(cosmOptions);
            this.cosm.mount();
        },
        createPlanetEntity() {
            const radius = 30;
            const mass = 1000;

            const planetOptions = {
                id: 'planet',
                type: 'planet',
                state: {
                    position: [0, -radius, 0],
                    mass: {
                        planet: mass
                    }
                },
                meshes: {
                    planet: new THREE.Mesh(
                        new THREE.SphereGeometry(radius, 64, 32),
                        new THREE.MeshBasicMaterial({color: 0x01ff01})
                    ),
                },
                bodies: {
                    planet: new CANNON.Body({
                        mass: mass,
                        type: CANNON.Body.STATIC,
                        shape: new CANNON.Sphere(radius)
                    })
                },
                onCreate: function() {
                    console.log("planet created");
                    const initialState = this.state;

                    if (initialState && initialState.position) {
                        this.bodies.planet.position.set(...initialState.position);
                    }
                }
            };

            this.planetEntity = new Entity(planetOptions);
            this.cosm.addEntity(this.planetEntity);
        }
    }
}
</script>