html.dark {
    /* custom dark bg color */
    --el-bg-color: #0a0a0a;
    --el-bg-color-page: #0a0a0a;
    --el-bg-color: #000000;
    --el-bg-color-overlay: #000000;
    --el-border-color: #fafafa;
}

body {
    background-color: var(--el-bg-color);
}

* {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Exo', sans-serif;
}

.el-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.el-header {
    padding: 3px;
    border-bottom: var(--el-border);
    border-color: var(--el-border-color);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.el-main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0px;
    /*border: var(--el-border);
    border-color: var(--el-border-color);
    border-radius: 3px;*/
}

.el-main > .el-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.el-main > .el-container > * {
    overflow: hidden;
}

.el-dialog {
    border: var(--el-border);
    border-color: var(--el-border-color);
    border-radius: 3px;
}

.wre-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-iframe > .el-container > .el-header {
    position: absolute;
    z-index: 1;
    background: transparent;
    bottom: 0;
    width: 100%;
    border: 0;
    margin: 6px;
}

.wre-tabbed-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-iframe {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-tabs > .el-tabs__content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-tabs > .el-tabs__content > .el-tab-pane {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.wre-corners-border {
    /*padding: 0.5em;*/
    padding: 0.1em;
    background-repeat: no-repeat;
    background-position: left top, right top, left bottom, right bottom;
    background-size: 1em 1em, 1em 1em, 1em 1em, 1em 1em;
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpolygon points='40 0 8 0 0 8 0 40 8 40 8 8 40 8 40 0' fill='%23fff' /%3E%3C/svg%3E"),
                      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpolygon points='40 0 8 0 0 8 0 40 8 40 8 8 40 8 40 0' fill='%23fff' transform='translate(40, 0) rotate(90)' /%3E%3C/svg%3E"),
                      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpolygon points='40 0 8 0 0 8 0 40 8 40 8 8 40 8 40 0' fill='%23fff' transform='translate(0, 40) rotate(270)' /%3E%3C/svg%3E"),
                      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpolygon points='40 0 8 0 0 8 0 40 8 40 8 8 40 8 40 0' fill='%23fff' transform='translate(40, 40) rotate(180)' /%3E%3C/svg%3E");*/
}

.wre-menu-button {
    background-color: var(--el-bg-color);
    position: fixed;
    top: 6px; /* Adjust based on your requirements */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensure the button is above other elements */
}
