<template>
    <el-container>
        <canvas ref="renderer" id="sim-canvas"></canvas>
    </el-container>
</template>

<script>
import { Cosm, Entity } from '../lib/cosm';
import { RocketLibrary } from '../lib/rocket';
import { AxesHelper } from 'three';
import * as THREE from 'three';
import * as CANNON from 'cannon-es';
import util from '../lib/util'

export default {
    name: "Sim",
    created() {
        this.cosm = null;
        this.rocketEntity = null;
        this.launchpadEntity = null;
        this.spaceXLaunchpadEntity = null;

        this.planetEntity = null;
        this.atmosphereEntity = null;
        this.axesHelper = null;
        this.pressedKeys = {};
        this.timeBuffer = performance.now();

        this.trajectory = {};
        this.angles = [0, 0];
    },
    data() {
        return {

        }
    },
    async mounted() {
        this.$nextTick(() => {
            this.initSim();
            window.addEventListener("keydown", this.handleKeyDown);
            window.addEventListener("keyup", this.handleKeyUp);
        });
        window.addEventListener('message', this.handlePostMessage);
    },
    beforeDestroy() {
        window.removeEventListener('message', this.handlePostMessage);
        window.removeEventListener("keydown", this.handleKeyDown);
        window.removeEventListener("keyup", this.handleKeyUp);
    },
    methods: {
        initSim() {
            this.initRocket();
            this.initTrajectory();
            this.initCosm();
            this.addAxesHelper();
            this.createPlanetEntity();
            this.createAtmosphereEntity();
            this.createSpaceXLaunchpadEntity();
            this.createRocketEntity();
            this.convertTrajectory();
            this.attachModels();
            this.initCamera();
            this.cosm.animate();
            this.startPostingMessages(this.rocketStateMessage);
            this.startPostingMessages(this.trajectoryMessage);
        },
        initTrajectory() {
            this.trajectory.initial = [
                [0, 0, 0],
                [1000, 100, 100],
                [2000, 160, 200],
                [3000, 170, 300],
                [4000, 110, 400]
            ];
            this.trajectory.id = 0;
        },
        initRocket() {
            // TODO: Fetch rocket state from mongoDB
            console.log("Rocket Initialization");
        },
        initCosm() {
            const cosmOptions = {
                gravity: new CANNON.Vec3(0, 0, 0),
                stepRate: () => {
                    let currentTime = performance.now(); 
                    let elapsedTime = (currentTime - this.timeBuffer) / 1000; 
                    this.timeBuffer = currentTime;
                    return elapsedTime;
                },
                canvasElement: document.getElementById('sim-canvas'),
                onCreate: () => {
                    console.log('Cosm created');
                    // Additional initialization code here
                },
            };
            this.cosm = new Cosm(cosmOptions);
            this.cosm.mount();
            this.cosm.physicsWorld.frictionGravity = new CANNON.Vec3(0, -9.81, 0);
        },
        initCamera() {
            // TODO multiple cameras, multiple targets (swap with number key)
            // Add a camera with the same parameters as the original one
            const camera = this.cosm.sceneInit.addCamera(45, window.innerWidth / window.innerHeight, 1, 100000000);
            // camera.position.z = 24;
            // camera.position.y = 8;
            this.cosm.sceneInit.setActiveCamera(this.cosm.sceneInit.cameras.length - 1);
            this.cosm.sceneInit.setCameraTarget(0, this.planetEntity.meshes['planet']);
            // this.cosm.sceneInit.setCameraTarget(0, this.spaceXLaunchpadEntity.meshes.pad);
            this.cosm.sceneInit.setCameraTarget(0, this.rocketEntity.meshes['stage0_shell']);
        },
        addAxesHelper() {
            this.axesHelper = new AxesHelper(8);
            this.cosm.sceneInit.scene.add(this.axesHelper);
        },
        createRocketEntity() {
            const rocketOptions = RocketLibrary.createRocketOptions({
                id: 'rocket',
                name: 'Falcon9',
                stages: [
                    {
                        status: 'active',
                        shell: {
                            height: 70,
                            radius: 3.7,
                            mass: 25600
                        },
                        fuelCells: {
                            capacity: 395700,
                            fuelMass: 395700
                        },
                        engineOptions: {
                            radius: 3.7 / 4,
                            thrust: 845000,
                            specificImpulse: 300,
                            throttle: 0,
                            gimbal: { x: 0, y: 0 },
                            mass: 1,
                        },
                        engineLayerDistances: [1 / 2, 0],
                        pointsPerLayer: [8, 1],
                        numberOfEngines: 9
                    },
                    // ... (add more stages if necessary)
            ]});
            rocketOptions.onCreate = () => {
                // TODO move single -> multiple stages
                // Just create a place at launch site location adjust build to stack in the direction of the mainstage
                // TODO fix camer to local relative quaternion
                const earthEntity = this.cosm.entities.find(entity => entity.id === 'earth');
                const launchpadEntity = this.cosm.entities.find(entity => entity.id === 'spacex-launchpad');
                const mainStageBody = this.rocketEntity.bodies['stage0_shell'];
                const mainStageMesh = this.rocketEntity.meshes['stage0_shell'];

                RocketLibrary.build(this.rocketEntity, this.cosm);

                this.rocketEntity.label = util.createLabel(this.rocketEntity.state.name, this.rocketEntity.meshes['stage0_shell'], `${this.rocketEntity.state.name}_label`, [0, 0, 0]);
                util.placeObjectsRelativeOnPlanet(Object.values(this.rocketEntity.bodies), launchpadEntity.state.latitude, launchpadEntity.state.longitude, this.rocketEntity.state.stages[0].shell.height/2, earthEntity.state.radius);

                this.rocketEntity.saveMass = mainStageBody.mass;
                mainStageBody.mass = 0;
                mainStageBody.updateMassProperties();

                console.log("inverse position:", util.convert3DVectorToGeo(mainStageBody.position, this.planetEntity.state.radius));
            };
            rocketOptions.update = () => {
                RocketLibrary.setGimbals(this.rocketEntity, this.cosm); RocketLibrary.applyThrust(this.rocketEntity, this.cosm, 'earth'); RocketLibrary.applyGravity(this.rocketEntity, this.cosm, 'earth');
            };
            rocketOptions.reactions = {
                setThrottle: [{handler: (message) => {RocketLibrary.setThrottle(message, this.rocketEntity)}}],
            }

            this.rocketEntity = new Entity(rocketOptions);
            this.cosm.addEntity(this.rocketEntity);
        },
        createSpaceXLaunchpadEntity() {
            // Create launchpad mesh and body
            const launchpadOptions = {
                id: 'spacex-launchpad',
                type: 'launchpad',
                state: {
                    latitude: 25.997264,
                    longitude: -97.156084,
                    altitude: -5,
                    width: 100,
                    height: 10,
                    length: 100,
                },
            };
            launchpadOptions.meshes = {
                pad: new THREE.Mesh(
                    new THREE.BoxGeometry(launchpadOptions.state.width, launchpadOptions.state.height, launchpadOptions.state.length),
                    // new THREE.CylinderGeometry(50, 50, 100, 8),
                    new THREE.MeshPhongMaterial({ color: 0x999999 })
                )
            },
            launchpadOptions.bodies = {
                pad: new CANNON.Body({
                    type: CANNON.Body.STATIC,
                    shape: new CANNON.Box(new CANNON.Vec3(launchpadOptions.state.width / 2, launchpadOptions.state.height / 2, launchpadOptions.state.length / 2))
                    // shape: new CANNON.Box(new CANNON.Vec3(50, 50, 100, 8))
                })
            }

            // When the launchpad is created
            launchpadOptions.onCreate = () => {
                console.log("SpaceX launchpad created");

                const earthEntity = this.cosm.entities.find(entity => entity.id === 'earth');
                const planetRadius = earthEntity.state.radius;

                util.placeObjectsRelativeOnPlanet([this.spaceXLaunchpadEntity.bodies.pad], this.spaceXLaunchpadEntity.state.latitude, this.spaceXLaunchpadEntity.state.longitude, this.spaceXLaunchpadEntity.state.altitude, planetRadius, 0);
                console.log("spaceX", this.spaceXLaunchpadEntity.bodies.pad.position);

                this.spaceXLaunchpadEntity.label = util.createLabel(this.spaceXLaunchpadEntity.id, this.spaceXLaunchpadEntity.meshes.pad, `${this.spaceXLaunchpadEntity.id}_label`, [0, 0, 0]);

                // Fill in the first angle
                this.angles[0] = -(this.spaceXLaunchpadEntity.state.latitude - 90) * (Math.PI / 180);
                this.angles[1] = -this.spaceXLaunchpadEntity.state.longitude * (Math.PI / 180);

                let vector = util.convertGeoTo3DVector(this.spaceXLaunchpadEntity.state.latitude, this.spaceXLaunchpadEntity.state.longitude, this.planetEntity.state.radius, this.spaceXLaunchpadEntity.state.altitude);
                let values = util.convert3DVectorToGeo(vector, this.planetEntity.state.radius);

                console.log("Conversion test: ", this.spaceXLaunchpadEntity.state, vector, values);
            };

            // Creating the entity
            this.spaceXLaunchpadEntity = new Entity(launchpadOptions);
            this.cosm.addEntity(this.spaceXLaunchpadEntity);

            
        },
        createPlanetEntity() {
            const radius = 6378000;
            const launchpadHeight = 10;
            const planetOptions = {
                id: 'earth',
                type: 'planet',
                state: {
                    mass: 5.9736e24,
                    radius: 6378000,
                },
                meshes: {
                    planet: new THREE.Mesh(
                        new THREE.SphereGeometry(radius, 1024, 1024),
                        new THREE.MeshBasicMaterial({
                            // color: 0xFFA500,
                            wireframe: false,
                            // visible: false,
                        })
                    )
                },
                bodies: {
                    planet: new CANNON.Body({
                        type: CANNON.Body.STATIC,
                        shape: new CANNON.Sphere(radius) // Earth's average radius in meters
                    })
                },
            };
            planetOptions.onCreate = () => {
                console.log("planet created");
                const initialState = planetOptions.state;

                // this.planetEntity.bodies.planet.position.y = -(radius+launchpadHeight);
                // this.planetEntity.meshes.planet.position.y = -(radius+launchpadHeight);
                
                this.planetEntity.label = util.createLabel(this.planetEntity.id, this.planetEntity.meshes.planet, `${this.planetEntity.id}_label`, [0,0,0]);
            };
            
            this.planetEntity = new Entity(planetOptions);
            this.cosm.addEntity(this.planetEntity);
        },
        createAtmosphereEntity() {

            const atmosphereOptions = {
                id: 'atmosphere',
                type: 'atmosphere',
                state: {
                    layers: [
                        { name: 'Troposphere', height: 20000, color: 0x000FFF },
                        { name: 'Thermosphere', height: 600000, color: 0x7FFFFF },
                        { name: 'Exosphere', height: 800000, color: 0xFFA500, },
                        // Add more layers if needed
                    ]
                },
                meshes: {},
                bodies: {},
            };

            atmosphereOptions.state.layers.forEach((layer, index) => {
                let geometry = undefined;
                let material = undefined;
                if (layer.name === 'Troposphere') {
                    geometry = new THREE.SphereGeometry(this.planetEntity.meshes.planet.geometry.parameters.radius + layer.height, 128, 128);
                    material = new THREE.MeshBasicMaterial({
                        color: layer.color,
                        wireframe: true
                    })
                }
                else {
                    geometry = new THREE.SphereGeometry(this.planetEntity.meshes.planet.geometry.parameters.radius + layer.height, 16, 16);
                    material = new THREE.MeshPhongMaterial({
                        color: layer.color,
                        wireframe: true
                    })
                }
                const mesh = new THREE.Mesh(geometry, material);

                atmosphereOptions.meshes[`layer_${index}`] = mesh;
            });

            atmosphereOptions.onCreate = () => {
                console.log("Atmosphere created");
                atmosphereOptions.state.layers.forEach((layer, index) => {
                    layer.label = util.createLabel(layer.name, atmosphereOptions.meshes[`layer_${index}`], `${layer.name}_label`, [1,1,0]);
                });
            };

            this.atmosphereEntity = new Entity(atmosphereOptions);
            this.cosm.addEntity(this.atmosphereEntity);
        },
        convertTrajectory() {
            var height = this.spaceXLaunchpadEntity.state.altitude + this.planetEntity.state.radius;
            var theta1 = this.angles[0];
            var theta2 = this.angles[1];
            this.trajectory.general = this.trajectory.initial.map((x) => {
                let copy = [...x];
                
                // give the points the right height
                copy[1] += height;

                // rotate around the z-axis until the right latitude has been reached
                let x0 = copy[0];
                let x1 = copy[1];
                copy[0] = Math.cos(theta1) * x0 - Math.sin(theta1) * x1;
                copy[1] = Math.sin(theta1) * x0 + Math.cos(theta1) * x1;

                // rotate around the y-axis until the right longitude has been reached
                x0 = copy[0];
                let x2 = copy[2];
                copy[0] = Math.cos(theta2) * x0 + Math.sin(theta2) * x2;
                copy[2] = -Math.sin(theta2) * x0 + Math.cos(theta2) * x2;

                return copy;
            })
        },
        attachModels() {
            const rocketMesh = this.rocketEntity.meshes['stage0_shell'];
            let rocketModelPosition = new THREE.Vector3(rocketMesh.position.x, rocketMesh.position.x - this.rocketEntity.state.stages[0].shell.height/2, rocketMesh.position.z);
            this.cosm.sceneInit.attachGltfModelToMesh('/sim/rocket/assets/falcon_9_spacex/scene.gltf', rocketMesh, rocketModelPosition, new THREE.Vector3(0.01, 0.01, 0.01));
            
            const planetMesh = this.planetEntity.meshes['planet'];
            // let scale = this.planetEntity.state.radius * 0.99525;
            // this.cosm.sceneInit.attachGltfModelToMesh('/assets/earth/scene.gltf', planetMesh, new THREE.Vector3(0,0,0), new THREE.Vector3(scale, scale, scale));

            const textureLoader = new THREE.TextureLoader();
            // Load your planet texture
            const planetTexture = textureLoader.load('/sim/rocket/assets/8081_earthmap10k.jpg');
            planetTexture.encoding = THREE.sRGBEncoding;
            planetMesh.material.map = planetTexture;
            planetMesh.material.needsUpdate = true;

        },
        handleKeyDown(event) {
            this.pressedKeys[event.key] = true;
            const stage = 0;

            if (this.pressedKeys[" "]) {
                if(this.rocketEntity.saveMass) {
                    this.rocketEntity.bodies['stage0_shell'].mass = this.rocketEntity.saveMass;
                    this.rocketEntity.saveMass = undefined;
                    this.rocketEntity.bodies['stage0_shell'].updateMassProperties();
                }

                let configs = [];
                for(let i = 0; i < this.rocketEntity.state.stages[0].engines.length; i++) {
                    configs.push({index: i, throttle: 1});
                }
                const message = RocketLibrary.generateThrottleMessage(stage, configs, this.rocketEntity);
                this.cosm.sendMessage(message);
            }
        },
        handleKeyUp(event) {
            this.pressedKeys[event.key] = false;
            const stage = 0;

            if (this.pressedKeys[" "] === false) {
                console.log("let it go");
                let configs = [];
                for(let i = 0; i < this.rocketEntity.state.stages[0].engines.length; i++) {
                    configs.push({index: i, throttle: 0});
                }
                const message = RocketLibrary.generateThrottleMessage(stage, configs, this.rocketEntity);
                this.cosm.sendMessage(message);
            }
        },
        postMessage(message) {          
            console.log("posting message");
            window.parent.postMessage({
                ...message
            }, '*');
        },
        handlePostMessage() {
            // TODO
        },
        startPostingMessages(getMessage) {
            this.messageInterval = setInterval(() => {
                this.postMessage(getMessage());
            }, 1000); // Post message every 5000ms (5 seconds)
        },
        rocketStateMessage() {
            const mainStageBody = this.rocketEntity.bodies['stage0_shell'];
            return {
                type: 'rocketState',
                content: {
                    stages: this.rocketEntity.state.stages,
                    position: {
                        ecef: {x: mainStageBody.position.x, y: mainStageBody.position.y, z: mainStageBody.position.z},
                        llh: util.convert3DVectorToGeo(mainStageBody.position, this.planetEntity.state.radius),
                    },
                    delta: this.spaceXLaunchpadEntity.state.altitude + this.planetEntity.state.radius,
                    angles: this.angles
                }
            };
        },
        trajectoryMessage() {
            let launch = this.spaceXLaunchpadEntity.state;
            let vector = {}
            let general = this.trajectory.general[0];
            vector.x = general[0];
            vector.y = general[1];
            vector.z = general[2];

            console.log("Trajectory: ", general,
                util.convertGeoTo3DVector(launch.latitude, launch.longitude, this.planetEntity.state.radius, launch.altitude),
                util.convert3DVectorToGeo(vector, this.planetEntity.state.radius),
                [launch.latitude, launch.longitude, launch.altitude]);
            return {
                type: 'trajectory',
                content: {
                    traj: this.trajectory
                }
            }
        }
    }
}
</script>
